<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> Book Home</title>
  </head>

<body>

	<!--Navbar Section -->
	<div class="container my-2">
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Action
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="/new" > Add Book </a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Subtask-01A</a>
	          <a class="dropdown-item" href="#">Subtask-01B</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Subtask-2A</a>
	          <a class="dropdown-item" href="#">Subtask-2B</a>
	        </div>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="get">
	      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
	    </form>
	  </div>
	</nav>

	<!--Table Section -->
    <div class="card">
        <div class="card-body">
            <div th:switch="${listBooks}" class="container my-5">
            
                <div class="col-md">
                    <h2 th:case="null">No Books yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
								<th>Product ID</th>
								<th>Book Name</th>
								<th>Publisher</th>
								<th>Published Date</th>
								<th>Genre</th>
								<th>Price</th>
								<th>Actions</th>
                            </tr>
                            </thead>
								<tbody>
									<tr th:each="books : ${listBooks}">
										<td th:text="${books.id}">Product ID</td>
										<td th:text="${books.name}">Book Name</td>
										<td th:text="${books.publisher}">Publisher</td>
										<td th:text="${books.publish_date}">Published Date</td>
										<td th:text="${books.genre}">Genre</td>
										<td th:text="${books.price}">Price</td>
										<td>
											
											<!-- Delete Confirmation V0 -->
											<!--
											<a th:href="@{'/edit/' + ${books.id}}">Edit</a>
											&nbsp;&nbsp;&nbsp;
											<a th:href="@{'/delete/' + ${books.id}}">Delete</a>
											&nbsp;
											-->
											
											
											<!-- Delete Confirmation V1 -->
											<!--
										    <div class="modal fade" id="confirm-delete" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										        <div class="modal-dialog">
										            <div class="modal-content">
										                <div class="modal-header">
										                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
										                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										                </div>
										                <div class="modal-body">
										                    <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
										                    <p>Do you want to proceed?</p>
										                </div>
										                <div class="modal-footer">
										                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
										                </div>
										            </div>
										        </div>
										    </div>
											<a href="#" data-record-id="23" data-record-title="The first one" data-toggle="modal" data-target="#confirm-delete"> DeleteConfirm </a>
											-->
											
											
											<!-- Delete Confirmation V2 -->
											<a
											  
											  th:href="@{'/edit/' + ${books.id}}"
											  class="btn btn-warning btn-sm py-1 "
											  th:data-confirm-delete="|Are you sure you want to edit ${books.name}?|"
											  onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
											>
											  Edit
											</a>
											&nbsp;
											<a
											  
											  th:href="@{'/delete/' + ${books.id}}"
											  class="btn btn-danger btn-sm py-1 "
											  th:data-confirm-delete="|Are you sure you want to delete ${books.name}?|"
											  onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
											>
											  Delete
											</a>
											
										</td>
									</tr>
								</tbody>
	                        </table>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $('#confirm-delete').on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            var id = $(this).data('recordId');
            // $.ajax({url: '/api/record/' + id, type: 'DELETE'})
            // $.post('/api/record/' + id).then()
            $modalDiv.addClass('loading');
            setTimeout(function() {
                $modalDiv.modal('hide').removeClass('loading');
            }, 1000)
        });
        $('#confirm-delete').on('show.bs.modal', function(e) {
            var data = $(e.relatedTarget).data();
            $('.title', this).text(data.recordTitle);
            $('.btn-ok', this).data('recordId', data.recordId);
        });
    </script>
    
</body>

</html>